<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
				<string>ext.ico</string>
			<key>Regular Expression</key>
				<string>^(thunder://|flashget://|qqdl://)[0-9a-zA-Z_/=+]{1,200}$</string>
			<key>Script Interpreter</key>
				<string>/usr/bin/php</string>
			<key>Shell Script File</key>
				<string>ext.php</string>
			<key>Title</key>
				<string>直链下载</string>
			<key>After</key>
				<string>preview-result</string>
		</dict>
	</array>
	<key>Extension Identifier</key>
	<string>cc.wweir.dirct_link.extension</string>

	<key>Extension Description</key>
	<string>Convert thunder download link to direct download link</string>
	<key>Extension Image File</key>
	<string>ext.ico</string>
	<key>Extension Name</key>
	<string>Direct Link</string>
	<key>Version</key>
	<integer>1</integer>
</dict>
</plist>
