<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
				<string>ext.ico</string>
			<key>Regular Expression</key>
				<string>(?s)^.{1,500}$</string>
			<key>Script Interpreter</key>
				<string>/usr/bin/php</string>
			<key>Shell Script File</key>
				<string>ext.php</string>
			<key>Title</key>
				<string>有道词典</string>
			<key>After</key>
				<string>show-result</string>
		</dict>
	</array>
	<key>Extension Identifier</key>
	<string>cc.wweir.fy_dict.extension</string>

	<key>Extension Description</key>
	<string>Get Translate From Youdao Dict</string>
	<key>Extension Image File</key>
	<string>ext.ico</string>
	<key>Extension Name</key>
	<string>Youdao Translate</string>
	<key>Version</key>
	<integer>1</integer>
</dict>
</plist>
